(static_files) {
    handle_path /static/* {
        root * /opt/apps/nexus/static
        file_server
    }
}

{$DOMAIN} {
    import static_files
    @options {
        method OPTIONS
    }

    handle @options {
        header {
            Access-Control-Allow-Origin *
            Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
            Access-Control-Allow-Headers *
        }
        respond "" 204
    }
    route {
        header {
            Access-Control-Allow-Origin *
            Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
            Access-Control-Allow-Headers *
        }
        # label-studio needs handle_path
        handle_path /app/label-studio* {
            reverse_proxy localhost:8080
        }
        handle /app/mlflow* {
            reverse_proxy localhost:8081 {
                # this needs to be forced for mlflow in case another proxy is in front
                header_up X-Forwarded-Proto https
            }
        }
        reverse_proxy /infer* localhost:9090
        reverse_proxy localhost:8079
    }
}
{$DOMAIN_PUBLIC} {
    import static_files
    reverse_proxy /infer* localhost:9090
}
