{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="text-layout">
        <h3>Export annotations</h3>
        <p>
            By default, export will use current project {% if params.project %}({{ params.project }}){% endif %} and
            /path/to/dataset/.export-<i>date</i>-<i>time</i>.
        </p>
        <form>
            <fieldset>
                <label for="project">Project</label>
                <input type="text" inputmode="numeric" pattern="\d*" name="project">
                <label for="dir">Dataset path</label>
                <input type="text" name="dir">
                <button
                    onclick="exportDataset(`{{ url_for_query(request, 'export', **params) }}`, new FormData(this.form)); return false;">
                    Start export </button>
            </fieldset>
        </form>
    </div>
</div>
<script>
    async function exportDataset(url, data) {
        const { pid, logs } = await fetch(url, { body: JSON.stringify(data), method: "POST", headers: { "Content-Type": "application/json" } }).then(r => r.json());
        showToastForLogs(pid, "Dataset export started.", logs);
    }
</script>
{% endblock %}