{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="tour-description" data-tour_step="export">
        <h3>Tour: Export</h3>
        <p>
            After annotation, the data must be exported from label studio's internal representation into a form suitable
            for training machine learning models. Select which task you are exporting for, and if the project is already
            detected, you can start the export. You can optionally set the destination where files will be placed.
        </p>
    </div>
    <div class="text-layout">
        <h3>Export annotations</h3>
        <p>
            By default, export will use current project {% if params.project %}({{ params.project }}){% endif %} and
            /path/to/dataset/.export-<i>date</i>-<i>time</i>.
        </p>
        <form>
            <fieldset>
                <label for="field-task">Task</label>
                <select name="task" id="field-task">
                    <option value="anomaly-detection" selected>Anomaly detection</option>
                    <option value="orientation-estimation">Orientation estimation</option>
                </select>
                <label for="field-project">Project</label>
                <input type="text" inputmode="numeric" pattern="\d*" name="project" id="field-project"
                    value="{{ params.project | default('') }}">
                <h4 style="margin: 0; grid-column: 1/-1;">Optional</h4>
                <label for="field-dir">Export path</label>
                <input type="text" name="dir" id="field-dir" placeholder="/path/to/dataset/.export-<date>-<time>">
                <label for="combine" title="Combine exported annotations with existing manifest">Combine</label>
                <div id="wrap-combine"></div>
                <button class="shadow"
                    onclick="exportDataset(`{{ url_for_query(request, 'export', **params) }}`, new FormData(this.form)); return false;">
                    Start export </button>
            </fieldset>
        </form>
    </div>
</div>
<script>
    (async () => {
        const { options, completions } = await fetch(`{{ url_for_query(request, 'model_options', **params) | safe }}`).then(r => r.json());
        for (const [k, v] of Object.entries(options)) {
            const { description, format, default_ } = v;
            if (format === "file:manifest.json") {
                document.getElementById("wrap-combine").replaceWith(dropdown({ name: "combine", completions: completions[k], placeholder: default_ }));
                return Promise.resolve();
            }
        }
        return Promise.reject("Manifest option not found");
    })()
    async function exportDataset(url, data) {
        const { pid, logs } = await fetch(url, { body: JSON.stringify(Object.fromEntries(data)), method: "POST", headers: { "Content-Type": "application/json" } }).then(r => r.json());
        showToastForLogs(pid, "Dataset export started.", logs);
    }
</script>
{% endblock %}