{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="text-layout">
        <h2>Welcome to {{ brand_name_long }}!</h2>
        <p>
            {{ brand_name_long }} is a collection of tools which is designed to aid the development and practical
            application of deep learning approaches. The mixture of available tools ranges from state-of-the-art models
            developed by our researchers, to openly available models and tools, which aid in the development and
            adaptation of our models to new problems.
        </p>
    </div>
</div>
<script>
    localStorage["toolbox.tourClosed"] = "{}";
</script>
{% endblock %}