{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="text-layout">
        <span class="toolbox-logo"></span>
        <h2>Welcome to {{ brand_name_long }}!</h2>
        <p>
            {{ brand_name_long }} is a collection of tools which is designed to aid the development and practical
            application of deep learning approaches. The mixture of available tools ranges from state-of-the-art models
            developed by our researchers, to openly available models and tools, which aid in the development and
            adaptation of our models to new problems.
        </p>
        <h3>Steps</h3>
        <ol>
            {% set _ = params.update({ 'tour': tour_enum.MODEL_SELECTION.value }) %}
            <a role="listitem" class="card" href="{{ url_for_query(request, 'models', **params) }}">
                <img src="/static/icons/question.svg">
                <h4>Model selection</h4>
                Select a model based on your use case.
            </a>
            {% set _ = params.update({ 'tour': tour_enum.DATASET.value }) %}
            <a role="listitem" class="card" href="{{ url_for_query(request, 'dataset', **params) }}">
                <img src="/static/icons/camera.svg">
                <h4>Prepare dataset</h4>
                Collect a diverse set of representative images.
            </a>
            {% set _ = params.update({ 'tour': tour_enum.LABELING.value }) %}
            <a role="listitem" class="card" href="{{ url_for_query(request, 'label', **params) }}">
                <img src="/static/icons/draw.svg">
                <h4>Annotation</h4>
                Annotate images with labels (depending on the model, this may be a mask, points, ...). If you use
                external
                tools, you will need to create a file with information about the dataset (follow guidelines for your
                selected model).
            </a>
            {% set _ = params.update({ 'tour': tour_enum.TRAINING.value }) %}
            <a role="listitem" class="card" href="{{ url_for_query(request, 'model', **params) }}">
                <img src="/static/icons/gear.svg">
                <h4>Training</h4>
                Train model based on your annotations to obtain weights.
            </a>
            {% set _ = params.update({ 'tour': tour_enum.MONITORING.value }) %}
            <a role="listitem" class="card" href="{{ url_for_query(request, 'dashboard', **params) }}">
                <img src="/static/icons/display.svg">
                <h4>Experiments</h4>
                Monitor training metrics of your experiments for any issues.
            </a>
            {% set _ = params.update({ 'tour': tour_enum.INFERENCE.value }) %}
            <a role="listitem" class="card" href="{{ url_for_query(request, 'model', **params) }}">
                <img src="/static/icons/remove.svg">
                <h4>Evaluation</h4>
                Run inference on unseen examples and inspect incorrect results.
            </a>
            <div role="listitem" class="card" style="cursor: not-allowed;">
                <img src="/static/icons/refresh.svg">
                <h4>Iterate</h4>
                Collect additional samples or correct annotations if necessary, and repeat previous steps to obtain new
                weights.
            </div>
            {% set _ = params.update({ 'tour': tour_enum.FINISH.value }) %}
            <a role="listitem" class="card" href="{{ url_for_query(request, 'finish', **params) }}">
                <img src="/static/icons/download.svg">
                <h4>Finish</h4>
                Deploy inference worker or download annotations and training artifacts from the toolbox.
            </a>
        </ol>
    </div>
</div>
<script>
    localStorage["toolbox.tourClosed"] = "{}";
</script>
<style>
    .card {
        display: grid;
        grid-template-areas:
            "icon header"
            "icon description";
        grid-template-columns: 2.5rem 1fr;
        gap: 0.5rem;
        margin: 1rem 0.5rem;
        padding: 0.5rem;
        border: 1px solid var(--border);
        color: var(--fg-secondary);
        box-shadow: 0px 0px 1px var(--border);

        h4 {
            color: var(--fg-primary);
            margin: 0;
        }

        img {
            grid-area: icon;
        }
    }

    a.card {
        text-decoration: none;

        &:hover {
            background-color: var(--bg-accent-hover);
        }
    }
</style>
{% endblock %}