<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %} - {{ brand_name_short }}</title>
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <span class="toolbox-logo"></span>
        {% if "tour" in params %}
        {% set newparams = dict(params) %}
        {% set _ = newparams.pop("tour") %}
        <ul class="tour">
            {% for (id, step_name, step_endpoint) in tour_steps %}
            {% if params.tour == id %}{% set current = " current" %}{% else %}{% set current = "" %}{% endif %}
            {% if "model" not in params and id not in [tour_enum.START.value, tour_enum.MODEL_SELECTION.value] %}
            <a role="listitem" class="tour-step disabled{{ current }}" href="#" data-step-name="{{ step_name }}"
                aria-disabled="true" aria-describedby="disabled-{{ id }}">
                <div id="disabled-{{ id }}" class="disabled-message">This step is not available until a model
                    is selected</div>
                {{step_name }}
            </a>
            {% else %}
            <a role="listitem" class="tour-step{{ current }}"
                href="{{ url_for_query(request, step_endpoint, tour = id, **newparams) }}"
                data-step-name="{{ step_name }}">{{
                step_name }}</a>
            {% endif %}
            {% endfor %}
            <button role="listitem" class="tour-step" command="show-modal" commandfor="finish-tour"
                data-step-name="Finish tour">Finish tour</button>

            <dialog id="finish-tour">
                <p>Finish tour?</p>
                <button commandfor="finish-tour" command="close">No</button>
                <form
                    action="{{ url_for_query(request, request.endpoint if request.endpoint in ['models', 'model', 'label', 'dashboard'] else 'models', **newparams) }}">
                    <button type="submit">Yes</button>
                </form>

            </dialog>
        </ul>
        {% else %}
        <a href="/" {% if request.endpoint=='index' %}aria-current="page" {% endif %} style="font-weight: 600;">{{
            brand_name_long }}
        </a>
        <a href="/label" {% if request.endpoint=='label' %}aria-current="page" {% endif %}>Labeling</a>
        <a href="/dashboard" {% if request.endpoint=='dashboard' %}aria-current="page" {% endif %}>Experiments</a>
        <a href="/models" {% if request.endpoint=='models' %}aria-current="page" {% endif %}>Models</a>
        {% endif %}
        <a href="{{ url_for('status').include_query_params(**params) }}" id="status">Status</a>
    </nav>
    <dialog id="confirmation" style="max-width: 512px;">
        <div class="content" style="margin-bottom: 1rem;"></div>
        <button class="cancel" value="no">Cancel</button>
        <button class="submit" value="yes">Ok</button>
    </dialog>
    <script>
        const dialog = document.getElementById("confirmation");
        const content = dialog.querySelector(".content");
        dialog.querySelectorAll("button").forEach(x => x.addEventListener("click", () => dialog.close(x.value)));
        dialog.addEventListener("close", () => dialog.returnValue == "yes" ? dialog.resolve() : dialog.reject("Dialog rejected"));
        function showModal(...components) {
            return new Promise((resolve, reject) => {
                dialog.returnValue = "";
                dialog.resolve = resolve;
                dialog.reject = reject;
                content.replaceChildren(...components);
                dialog.showModal();
            });
        }
    </script>
    <main>
        {% block content %}{% endblock %}
        <div id="toast-wrapper"></div>
    </main>

    <script>
        // this is a fix for fetch refusing to work on pages reached with embedded auth urls
        // e.g. https://abc:123@localhost , even when using a relative url in fetch
        const url = new URL(document.URL);
        if (url.password || url.username) {
            window.location = location.href;
        }
        if (!("mlflow.workflowType_v1" in localStorage)) {
            localStorage["mlflow.workflowType_v1"] = '"machine_learning"';
        }
        const tourHelp = document.querySelector(".tour-description");
        if (tourHelp) {
            const { tour_step } = tourHelp.dataset;
            const tourClosed = JSON.parse(localStorage["toolbox.tourClosed"] || "{}");
            if (tourClosed[tour_step]) {
                tourHelp.remove();
            } else {
                const close = document.createElement("button");
                close.className = "close";
                close.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" stroke-linecap="round" fill="none" stroke-width="4px" stroke="currentColor"><path d="M 15 35 L 35 15 M 15 15 L 35 35"/></svg>`;
                close.style.position = "absolute";
                close.style.top = "0.5rem";
                close.style.right = "0.5rem";
                tourHelp.append(close);
                close.addEventListener("click", () => {
                    tourHelp.remove();
                    tourClosed[tour_step] = true;
                    localStorage["toolbox.tourClosed"] = JSON.stringify(tourClosed);
                });
            }
        }

        const toasts = document.getElementById("toast-wrapper");
        const toastTemplate = document.getElementById("toast");
        function showToast(category, ...content) {
            const title = document.createElement("span");
            title.className = "toast-title";

            const toast = document.createElement("div");
            toast.style.backgroundColor = "var(--bg-primary)";
            toast.className = "toast";

            switch (category) {
                case "info": {
                    title.innerText = "Info";
                    toast.classList.add(category);
                    break;
                }
                case "error": {
                    title.innerText = "Error";
                    toast.classList.add(category);
                    break;
                }
            }

            toast.append(title, ...content);
            toasts.append(toast);
            setTimeout(() => toast.classList.add("animate"), 1);
            return new Promise((resolve) => {
                setTimeout(async () => {
                    await resolve(toast);
                    if (toast.keepAlive !== true) {
                        toast.remove();
                    }
                }, 5000);
            });
        }

        function showToastForLogs(pid, message, url) {
            const eventSource = new EventSource(`/task/logs/${pid}/stream`);
            const lines = document.createElement("pre");
            lines.style.textOverflow = "ellipsis";
            const wrap = document.createElement("div");
            wrap.className = "logs";
            wrap.style.overflow = "hidden";
            wrap.append(lines);
            let count = 0;
            let last = document.createElement("div");
            last.className = "line";
            lines.append(last);

            const show_logs = document.createElement("a");
            show_logs.href = url;
            show_logs.className = "button";
            show_logs.innerText = "Show logs";
            const actions = document.createElement("div");
            actions.style.display = "flex";
            actions.style.gap = "0.5rem";
            actions.append(show_logs);

            eventSource.addEventListener("message", e => last.innerText = JSON.parse(e.data));
            eventSource.addEventListener("quick-action", e => resolveQuickAction(actions, ...JSON.parse(e.data)));
            eventSource.addEventListener("newline", e => {
                count += 1;
                if (count > 5) {
                    lines.children[0].remove();
                }
                last = document.createElement("div");
                last.className = "line";
                last.innerText = JSON.parse(e.data);
                lines.append(last);
            });

            showToast("info", message, wrap, actions);
        }

        function copyUrlWith(url, k, v) {
            url = new URL(url);
            const params = new URLSearchParams(url.search);
            params.set(k, v);
            url.search = params.toString();
            return url.toString();
        }
        function resolveQuickAction(actions, kind, value) {
            switch (kind) {
                case "Manifest": {
                    const oldurl = document.querySelector(`a.tour-step[data-step-name="Training"]`).href;
                    const link = document.createElement("a");
                    link.href = copyUrlWith(oldurl, "manifest", value);
                    link.className = "button";
                    link.innerText = "Go to training";
                    actions.append(link);
                    break;
                }
                case "Experiment": {
                    const oldurl = document.querySelector(`a.tour-step[data-step-name="Monitoring"]`).href;
                    const link = document.createElement("a");
                    link.id = "action-experiments";
                    link.href = copyUrlWith(oldurl, "experiment", value);
                    link.className = "button";
                    link.innerText = "Go to experiments";
                    actions.append(link);
                    break;
                }
                case "Run": {
                    const old = actions.querySelector("#action-experiments");
                    if (old) {
                        old.href = copyUrlWith(old.href, "run", value);
                    }
                    break;
                }
                case "Weights": {
                    const oldurl = document.querySelector(`a.tour-step[data-step-name="Inference"]`).href;
                    const link = document.createElement("a");
                    link.href = copyUrlWith(oldurl, "weights", value);
                    link.className = "button";
                    link.innerText = "Go to inference";
                    actions.append(link);
                    break;
                }
            }
        }
    </script>
</body>

</html>