<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %} - ViCoS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>


    <nav>
        <a href="/" {% if request.endpoint=='index' %}aria-current="page" {% endif %} style="font-weight: 600;">
            ViCoS Toolbox
        </a>
        <a href="/label" {% if request.endpoint=='label' %}aria-current="page" {% endif %}>Labeling</a>
        <a href="/dashboard" {% if request.endpoint=='dashboard' %}aria-current="page" {% endif %}>Experiments</a>
        <a href="/models" {% if request.endpoint=='models' %}aria-current="page" {% endif %}>Models</a>
        <a href="/task/logs" id="status"></a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='status.js') }}"></script>
</body>

</html>