{% extends "layout.html" %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="logs wrapper">
    <h1>Task information</h1>
    {% if description %}
    <p>
        {% if running %}
        <svg viewBox="0 0 24 24" fill="transparent" stroke="currentColor" stroke-width="2px" stroke-linecap="round"
            style="width: 0.75rem;">
            <path d="M 12 19 A 1 1 0 0 0 12 5 A 1 1 0 0 0 12 19"
                style="stroke-dasharray: 46 44; transform-origin: center; animation: dash 5s linear infinite, rotate 5s linear infinite;">
            </path>
        </svg>
        {% endif %}
        {{ description }}
    </p>
    <div id="actions" style="display: flex; gap: 0.5rem;">
        {% if running %}
        <button command="show-modal" commandfor="confirm-stop">Stop task</button>

        <dialog id="confirm-stop">
            <p>Are you sure you want to stop this task?</p>
            <button commandfor="confirm-stop" command="close">No</button>
            <form action="{{ url_for_query(request, 'kill', **params) }}" method="post">
                <button type="submit">Yes</button>
            </form>

        </dialog>
        {% endif %}
    </div>
    <pre>
        <div id="lines"></div>
    </pre>
    {% else %}
    <p>
        Task information will appear here when you begin a training run or start a inference / preannotation worker.
    </p>
    {% endif %}
</div>
<script>
    const actions = document.getElementById("actions");
    const lines = document.getElementById("lines");
    let last = document.createElement("div");
    last.className = "line";
    lines.append(last);
    const eventSource = new EventSource("/task/logs/{{ pid }}/stream");
    eventSource.addEventListener("message", e => last.innerText = JSON.parse(e.data));
    eventSource.addEventListener("quick-action", e => resolveQuickAction(actions, ...JSON.parse(e.data)));
    eventSource.addEventListener("eof", e => document.getElementById("confirm-stop") && location.reload());
    let scrollTop = 0;
    let override = true;
    setTimeout(() => override = false, 500);
    eventSource.addEventListener("newline", e => {
        last = document.createElement("div");
        last.className = "line";
        last.innerText = JSON.parse(e.data);
        const isSticky = lines.parentElement.scrollTop + lines.parentElement.clientHeight >= lines.clientHeight && lines.parentElement.scrollTop >= scrollTop;
        lines.append(last);
        if (isSticky || override) {
            scrollTop = lines.parentElement.scrollHeight - lines.parentElement.clientHeight;
            lines.parentElement.scroll({ top: scrollTop, behavior: "smooth" });
        }
    });
</script>
{% endblock %}