{% extends "layout.html" %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="logs wrapper">
    <h1>Task information</h1>
    {% if description %}
    <p>{{ description }}</p>
    <div>
        {% if run_shortcut %}
        <a href="{{ run_shortcut }}" class="button">Open run</a>
        {% endif %}
        {% if running %}
        <button command="show-modal" commandfor="confirm-stop">Stop task</button>

        <dialog id="confirm-stop">
            <p>Are you sure you want to stop this task?</p>
            <button commandfor="confirm-stop" command="close">No</button>
            <form action="{{ url_for('kill', **params) }}" method="post">
                <button type="submit">Yes</button>
            </form>

        </dialog>
        {% endif %}
    </div>
    <pre>
        <div id="lines"></div>
        <div id="anchor"/>
    </pre>
    {% else %}
    <p>
        Task information will appear here when you begin a training run or start a inference / preannotation worker.
    </p>
    {% endif %}
</div>
<script>
    const lines = document.getElementById("lines");
    let last = document.createElement("div");
    last.className = "line";
    const eventSource = new EventSource("/task/logs/{{ pid }}/stream");
    eventSource.addEventListener("message", e => last.innerText = e.data);
    eventSource.addEventListener("eof", e => document.getElementById("confirm-stop") && location.reload());
    eventSource.addEventListener("newline", e => {
        lines.append(last);
        last = document.createElement("div");
        last.className = "line";
        last.innerText = e.data;
    });
    document.querySelector(".logs > pre > #anchor").scrollIntoView()
</script>
{% endblock %}