{% extends "layout.html" %}

{% block title %}Models{% endblock %}

{% block content %}
<div class="model-list wrapper">
    {% for id, info in models.items() %}
    {% if params.tour|default(-1) == tour_enum.MODEL_SELECTION.value %} {% set _=params.update({"tour": params.tour +
    1}) %}{% endif %}
    {% set _ = params.update({ "model": id }) %}
    <a href="{{ url_for('model', **params) }}" class="model">
        <h3>{{ info.title }}</h3>
        <p>{{ info.description }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}