{% extends "layout.html" %}

{% block title %}Models{% endblock %}

{% block content %}
<div class="model-list wrapper">
    {% if params.tour|default(-1) == tour_enum.MODEL_SELECTION.value %}
    <div class="tour-description" data-tour_step="model_selection">
        <h3>Tour: Models</h3>
        <p>
            The models tab contains a list of currently available models along with descriptions of what problems they
            were designed to address. Depending on the model, you may select it to do things such as initiate training,
            run inference or create a annotation project.
        </p>
        <p>
            Before using models, you need to install them, which may take some time (depending on your internet
            connection). You may add additional supported models using <i>import strings</i>, which are seemingly random
            sequences of characters (such as <i>YWJjZGVmZw==</i>).
        </p>
    </div>
    {% endif %}
    {% for (group, owner), (rev, installed, models) in groups.items() %}
    <h2 class="model-group">
        {{ group }}{% if owner %}<span> by </span>{{ owner }}{% endif %}
        <div class="manage-group">
            <span>version: {{ rev }}</span>
            <button onclick="remove(`{{ owner }}`, `{{ group }}`)">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" fill="none" stroke-width="1px" stroke="currentColor">
                    <path
                        d="M 6 7 L 6 20 H 18 L 18 7 M 4 7 H 20 M 9 7 A 1 1 0 0 1 15 7 M 9 10 V 17 M 15 10 V 17 M 12 10 V 17" />
                </svg>
            </button>
            <button onclick="update(`{{ owner }}`, `{{ group }}`)">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" fill="none" stroke-width="1px" stroke="currentColor">
                    <path d="M 6 12 A 1.5 1.5 90 0 0 18 12 C 18 6 10.5 4.5 7.5 9 M 7.5 6 V 9 H 10.5" />
                </svg>
            </button>
        </div>
    </h2>
    {% if params.tour|default(-1) == tour_enum.MODEL_SELECTION.value %}
    {% set _ = params.update({"tour": tour_enum.DATASET.value }) %}
    {% endif %}
    {% for name, info in models.items() %}
    {% set _ = params.update({ "model": name }) %}
    {% if name in installed %}
    <a href="{{ url_for('dataset' if params.tour|default(-1) == tour_enum.DATASET.value else 'model', **params) }}"
        class="model installed">
        <h3>{{ info.title }}</h3>
        <p>{{ info.description }}</p>
        <button onclick="delete_(`{{ name }}`); return false;">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" stroke-linecap="round"
                stroke-linejoin="round" fill="none" stroke-width="1px" stroke="currentColor">
                <path
                    d="M 6 7 L 6 20 H 18 L 18 7 M 4 7 H 20 M 9 7 A 1 1 0 0 1 15 7 M 9 10 V 17 M 15 10 V 17 M 12 10 V 17" />
            </svg>
        </button>
    </a>
    {% else %}
    <a class="model" title="You must install the model to make it available for use."
        onclick="install(`{{ url_for('model_install', **params) }}`, `{{ name }}`); return false;">
        <h3>{{ info.title }}</h3>
        <p>{{ info.description }}</p>
        <button onclick="install(`{{ url_for('model_install', **params) }}`, `{{ name }}`); return false;">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" stroke-linecap="round"
                stroke-linejoin="round" fill="none" stroke-width="1px" stroke="currentColor">
                <path d="M 12 4 V 17 L 8 13 M 12 17 L 16 13 M 18 20 H 6" />
            </svg>
        </button>
    </a>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <h2 class="add-group">
        <label for="add-model" class="prompt-add">Add model source from clipboard</label>
        <button id="add-model">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" stroke-linecap="round"
                stroke-linejoin="round" fill="none" stroke-width="2px" stroke="currentColor">
                <path d="M 12 5 V 19 M 5 12 H 19" />
            </svg>
        </button>
    </h2>
    <dialog id="confirmation">
        <div class="content"></div>
        <button class="cancel" value="no">Cancel</button>
        <button class="submit" value="yes">Ok</button>
    </dialog>
</div>
<script>
    const add = document.getElementById("add-model");
    const dialog = document.getElementById("confirmation");
    const content = dialog.querySelector(".content");
    dialog.querySelectorAll("button").forEach(x => x.addEventListener("click", () => dialog.close(x.value)));
    dialog.addEventListener("close", () => dialog.returnValue == "yes" && dialog.done());
    add.addEventListener("click", async (e) => {
        try {
            // eyJodHRwczovL2dpdGh1Yi5jb20vdmljb3NsYWIvdG9vbGJveC1tb2RlbHMiOnsib3duZXIiOiJ2aWNvc2xhYiIsIm1vZGVscyI6WyJnZWNvMiIsImRhbTRzYW0iLCJzdXBlci1zaW1wbGUtbmV0Il0sImdyb3VwIjoidG9vbGJveC1tb2RlbHMifX0=
            const text = await navigator.clipboard.readText();
            const sources = JSON.parse(atob(text));
            const review = document.createElement("span");
            review.className = "prompt-review";
            review.textContent = "The following models will be added:";
            content.replaceChildren(review, ...sources.map(({ owner, group, models, url }) => {
                const h = document.createElement("h3");
                h.innerText = `${owner}/${group}`;
                const list = document.createElement("ul");
                list.append(...models.map(m => {
                    const li = document.createElement("li");
                    li.innerText = m;
                    return li;
                }));
                const wrap = document.createElement("div");
                wrap.append(h, list);
                return wrap;
            }));
            add.classList.add("review");
            dialog.done = async () => {
                if (sources !== null) {
                    await fetch("/models/add", { method: "post", body: JSON.stringify(sources), headers: { "Content-Type": "application/json" } });
                }
                location.reload();
            };
            dialog.showModal();
        } catch (e) {
            console.log("Add-model:", e);
        }
    });
    function remove(owner, group) {
        const warn = document.createElement("blockquote");
        warn.innerText = "Warning: this will remove local files for these models as well";
        content.replaceChildren(`Remove models in group '${group}' by '${owner}'?`, warn);
        dialog.done = async () => {
            await fetch("/models/remove", { method: "post", body: JSON.stringify({ owner, group }), headers: { "Content-Type": "application/json" } });
            location.reload();
        };
        dialog.showModal();
    }
    function update(owner, group) {
        const version = document.createElement("input");
        version.type = "text";
        version.placeholder = "latest";
        version.style.flexGrow = 1;
        const label = document.createElement("label");
        label.style.display = "flex";
        label.style.gap = "0.5rem";
        label.innerText = "Git revision:";
        label.append(version);
        const summary = document.createElement("summary");
        summary.innerText = "Version override";
        const details = document.createElement("details");
        details.style.marginTop = "0.5rem";
        details.append(summary, label)
        content.replaceChildren(`Update models in group '${group}' by '${owner}'?`, details);
        dialog.done = async () => {
            await fetch("/models/update", { method: "post", body: JSON.stringify({ owner, group, ...version.value !== "" && { rev: version.value } }), headers: { "Content-Type": "application/json" } });
            location.reload();
        };
        dialog.showModal();
    }
    function delete_(name) {
        content.replaceChildren(`Delete installed files for model '${name}'?`);
        dialog.done = async () => {
            await fetch(`/model/${name}/uninstall`, { method: "post" });
            location.reload();
        };
        dialog.showModal();
    }
    function install(url, name) {
        const form = document.createElement("form");
        form.action = url;
        form.method = "POST";
        const i = document.createElement("i");
        i.innerText = name;
        content.replaceChildren(form, "Install model ", i, " ?");
        dialog.done = async () => {
            form.submit();
        };
        dialog.showModal();
    }
</script>
<style>
    .model-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-content: start;
    }

    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .model-group {
        flex-basis: 100%;
        display: flex;
        gap: 0.5rem;
        align-items: center;

        span {
            font-size: small;
            color: rgb(95, 114, 129);
            font-weight: 500;
        }

        &:hover>.manage-group {
            display: contents;
        }
    }

    .manage-group {
        display: none;

        button {
            padding: 0;
            border: none;

            &:hover {
                background-color: unset;
            }
        }
    }

    #confirmation {
        .content {
            margin-bottom: 1rem;
        }
    }

    .group-installed {
        flex-basis: 100%;
        margin-top: -1.5rem;
        color: rgb(95, 114, 129);
        font-size: small;
    }

    .model {
        position: relative;
        display: block;
        text-decoration: none;
        height: 128px;
        width: 512px;
        background-color: var(--bg-muted);
        font-size: 0.75rem;
        padding: 1rem;
        border: 1px solid var(--border);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 3px -1px, rgba(0, 0, 0, 0.02) 0px 1px 0px 0px;

        &.installed {
            background-color: var(--bg-primary);

            &:hover {
                background-color: var(--bg-accent-hover);
            }

            &:active {
                background-color: var(--bg-accent-active);
            }
        }

        h3 {
            color: rgb(17, 23, 28);
        }

        p {
            color: rgb(95, 114, 129);
        }

        button {
            position: absolute;
            bottom: 0.5rem;
            right: 0.5rem;
            padding: 0;
            border: 0;
            cursor: pointer;

            &:hover {
                background-color: unset;
            }
        }
    }

    .add-group {
        display: flex;
        font-size: 1.25rem;
        align-items: center;
        flex-basis: 100%;

        label {
            padding: 0.25rem 0.5rem;
            cursor: pointer;
        }

        .icon {
            background-color: var(--bg-accent-hover);
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-color: var(--bg-accent-active);
            }
        }

        button {
            display: contents;
        }
    }
</style>
{% endblock %}