{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="model-overview wrapper">
    {% if not installed %}
    <div class="model-installation">
        <form method="post">
            Model {{ title }} is not installed yet. Click <input type="submit" name="install"
                formaction="{{ url_for('model_install', **params) }}" value="Here"> to begin installation.
            Model installation may take a while.
        </form>
    </div>
    {% else %}
    <div class="model-options">
        {% if params.tour == tour_enum.DATASET.value and "manifest" in options %}
        <div class="tour-dataset">
            <h3>Tour: dataset</h3>
            <p>
                To accomodate for different kinds of datasets and tasks, models are prepared to only require a single
                file
                called a manifest, which should contain all necessary information to load in data for training.
            </p>
            <p>
                Description from '{{ title }}':
            <blockquote>
                {{ options["manifest"]["description"] }}
            </blockquote>
            </p>
            <p>
                If your dataset is already annotated, prepare a manifest for it, after which you can start a
                training run below. Otherwise,
                <button command="show-modal" commandfor="create-project"
                    style="display: block; margin: 1rem auto;">Create a labeling project</button>

                <dialog id="create-project" style="max-width: 512px;">
                    <h3>Create project</h3>
                    This will create a new labelling project with provided name. Path can be empty, in which case
                    uploaded images will be used. Otherwise locate your existing dataset (for example /data/my-dataset).
                    <blockquote>
                        <i>/data will only contain files which were made available during installation</i>
                    </blockquote>
                    <form action="{{ url_for('dataset', **params)}}" method="post">
                        <fieldset style="border: none;">
                            <label for="dataset-name">Name</label>
                            <input type="text" name="title" id="dataset-name">
                            <label for="dataset-path">Path</label>
                            <input type="text" name="dataset" id="dataset-path">
                        </fieldset>
                        <div class="file-browser"></div>
                        <button type="button" commandfor="create-project" command="close">Cancel</button>
                        <button type="submit">Create</button>
                    </form>

                </dialog>
            </p>
        </div>
        <script>
            (async () => {
                const dialog = document.getElementById("create-project");
                const browser = dialog.querySelector(".file-browser");
                const path = dialog.querySelector("#dataset-path");
                const segs = [];
                async function list() {
                    let dirs = await fetch(["/datasets", ...segs].join("/")).then(x => x.status === 200 ? x.json() : Promise.resolve([]));
                    if (segs.length > 0) {
                        dirs.splice(0, 0, "..");
                    }
                    browser.replaceChildren(...dirs.sort((a, b) => a.localeCompare(b, undefined, { numeric: true, sensitivity: "base" })).map(name => {
                        const b = document.createElement("button");
                        b.innerHTML = `
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" fill="none" stroke-width="1px" stroke="currentColor"><path d="M 5 8 H 21 V 18 H 5 V 8 M 16 8 L 17 6 H 21 V 8"/></svg>
                            <span>${name}</span>`;
                        b.addEventListener("click", e => {
                            e.preventDefault();
                            if (name === "..") {
                                segs.pop();
                            } else {
                                segs.push(name);
                            }
                            path.value = "/data/" + segs.join("/");
                            list()
                        });
                        return b;
                    }));
                    const prompt = document.createElement("span");
                    prompt.innerText = dirs.length > 0 ? "Datasets found:" : "No datasets";
                    prompt.style.flexBasis = "100%";
                    browser.prepend(prompt);
                }
                list()
            })();
        </script>
        {% endif %}
        <form method="post">
            <fieldset>
                {% for k, prop in options.items() %}
                <label for="{{ k }}" title="{{ prop.description }}">{{ k }}</label>
                {% if prop.enum %}
                <div>
                    {% for opt in prop.enum %}
                    <input type="radio" id="{{ opt }}" name="{{ k }}" value="{{ opt }}" {% if prop.default==opt
                        %}checked{% endif %} />
                    <label for="{{ opt }}">{{ opt }}</label>
                    {% endfor %}
                </div>
                {% elif prop.type == "string" %}
                {% if k in completions %}
                {# https://stackoverflow.com/questions/264640/how-can-i-create-an-editable-dropdownlist-in-html #}
                <div class="dropdown">
                    <input type="text" name="{{ k }}" placeholder="{{ prop.default }}">
                    <select
                        onchange="this.previousElementSibling.value=this.value; this.previousElementSibling.focus(); this.value = null">
                        <option value="">-- Select weights from completed runs --</option>
                        {% for group, vals in completions[k] %}
                        <optgroup label="{{ group }}">
                            {% for name, v in vals %}
                            <option value="{{ v }}">{{ name }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>
                {% else %}
                <input type="text" name="{{ k }}" placeholder="{{ prop.default }}">
                {% endif %}
                {% elif prop.type == "boolean" %}
                <input type="checkbox" name="{{ k }}" {% if prop.default %}checked{% endif %}>
                {% elif prop.type == "integer" %}
                <input type="text" inputmode="numeric" pattern="\d*" name="{{ k }}" placeholder="{{ prop.default }}">
                {% elif prop.type == "number" %}
                <input type="text" inputmode="numeric" pattern="\d+(.\d+)?" name="{{ k }}"
                    placeholder="{{ prop.default }}">
                {% else %}
                invalid type
                {% endif %}
                {% endfor %}
                {% if train %}
                <input type="submit" name="start-train" formaction="{{ url_for('model_train', **params) }}"
                    value="Start training">
                {% endif %}
                <input type="submit" name="start-inference-worker" formaction="{{ url_for('model_infer', **params) }}"
                    value="Start inference worker">
            </fieldset>
        </form>
    </div>
    <div class="inference">
        <form id="form-inference" action="" style="--bg-accent-default: white;">
            <fieldset>
                {{ form | safe }}
                <div class="toolbar">
                    <div class="toolbar-left"></div>
                    <div class="toolbar-right"></div>
                </div>
            </fieldset>
        </form>
    </div>
    {% endif %}
</div>

<script src="/static/opencv.js"></script>
<script src="/static/model.js"></script>
<script src="/static/autofill.js"></script>
<script>
    window.endpoint = "/infer/{{ params.model }}";
    window.addEventListener("load", () => autofillSetup("{{ title }}"));
</script>
<style>
    .dropdown {
        position: relative;
    }

    .dropdown select {
        width: 100%;
    }

    .dropdown>* {
        box-sizing: border-box;
        height: 1.5em;
    }

    .dropdown input {
        position: absolute;
        width: calc(100% - 20px);
    }

    .file-browser {
        padding: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        margin-bottom: 0.25rem;

        button {
            display: flex;
            height: 2rem;
            gap: 0.25rem;
            padding: 0.1rem;
            font-weight: 500;
            padding-right: 0.25rem;
            border: unset;
            background-color: var(--bg-accent-hover);

            &:hover {
                background-color: var(--bg-accent-active);
            }

            span {
                place-self: center;
            }
        }
    }
</style>
{% endblock %}