{% extends "layout.html" %}

{% block title %}Status{% endblock %}

{% block content %}
<div class="status wrapper">
    <div class="tour-description" data-tour_step="status">
        <h3>Tour: Status</h3>
        <p>
            The status page shows the description of the current (or last) running task, along with it's log. The log
            may contain useful information if for example the wrong values were passed to the arguments, but for more
            involved errors you should contact relevant personel for assistance.
        </p>
    </div>
    <h1>Tasks</h1>
    <h2>Active</h2>
    {% for pid, task in tasks.items() %}
    {% if task.process %}
    <a href="{{ url_for_query(request, 'logs', pid=pid, **params) }}" class="task">
        {{ task.description }}
        <span class="timestamp">Started {{ timestamps[pid] }} ago</span>
    </a>
    {% endif %}
    {% endfor %}
    <h2>Finished</h2>
    {% for pid, task in tasks.items() %}
    {% if not task.process %}
    <a href="{{ url_for_query(request, 'logs', pid=pid, **params) }}" class="task">
        {{ task.description }}
        {% set verb = "Finished" if task.code == 0 else "Exited" %}
        <span class="timestamp">{{ verb }} {{ timestamps[pid] }} ago</span>
    </a>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}