:root, html > body {
    --bg-primary: white; /*#950606*/
    --fg-accent-default: #c13737; 
    --fg-accent-hover: #d32a2a;
    --fg-accent-active: #db1a1a;
    --bg-accent-default: transparent;
    --bg-accent-hover: #fae4e4;
    --bg-accent-active: #f4caca;

    --border: black;
}