:root, html > body {
    --bg-primary: white; /*#950606*/
    --fg-accent-default: #c13737; 
    --fg-accent-hover: #d32a2a;
    --fg-accent-active: #db1a1a;
    --bg-accent-default: #d32a2a00;
    --bg-accent-hover: #d32a2a20;
    --bg-accent-active: #d32a2a40;

    --border: black;
}